.App {
  text-align: center;
  display: flex;
  flex-direction: column  ;
  background-color: #ecebe7;
  color: #625548;
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
  height: fit-content;
  min-height: 100vh;
}

.main-body{
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
}

.sidemenu{

  width: 240px;
  border: 1px solid #d3d3d3;
  }
  
  
  .side-menu-button span{
  padding-left: 6px;
  padding-right: 12px;
  }
  
  .side-menu-button{
    padding: 12px;
    text-align: left;
    background-color: #ECEBE7;
  }
  
  .side-menu-button:hover{
    background-color: #B10707;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .past-chat-button{
    padding: 12px;
    border: 1px solid #ecebe7;
    border-radius: 5px;
    text-align: left;
    padding-left: 50px;
  }
  .past-chat-button:hover{
    background-color: #d3d3d3;
    cursor: pointer;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.chat-input-holder{
  padding: 12px;
  position: absolute ;
  bottom: 0;left: 0;right: 0;
  
}
.slider{
  color: #625548;
  border-color: #625548;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #625548; /* Background color of the slider track */
  border-radius: 5px;
}

.slider::-webkit-slider-runnable-track {
  height: 10px;
  background: #625548; /* Track color */
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5px;
  width: 20px;
  height: 20px;
  background: #B10707; /* Thumb color */
  border-radius: 50%;
  cursor: pointer;
}

/* For Firefox */
.slider::-moz-range-track {
  height: 10px;
  background: #625548; /* Track color */
  border-radius: 5px;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #B10707; /* Thumb color */
  border-radius: 50%;
  cursor: pointer;
}


.chat-input-textarea{
background-color: #f5f0f0;
width: 90%;
border: 5px;
border-color: none;
border-radius: 5px;
border: none;
padding: 12px;
outline: none;
box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
color: #625548;
font: 1,25em;
margin: 12px;

}
.chatbox{
  flex:1;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.chat-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url(/public/Albums.webp);
  background-size: 50%;
  background-repeat: repeat;
}
.current-chat{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 12px;
  flex: 1;
}

.chat-log{
  flex: 1;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}
.chatbox-input-holder {
  height: fit-content;
  margin: 1% 2%;
  display: flex;
  flex-direction: row;
}

.chat-input-form {
  align-items: center;
  flex: 1;
}

.textarea-wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
}

.chat-input-textarea {
  margin: 0;
  font-size: 16px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 20px; /* Makes the textarea rounded */
  flex: 1;
  margin-right: 15px;
}

.send-icon-button {
  padding-top: 6px;
  position: relative;
  background: none;
  border: none;
  background-color: #B10707;
  color:white;
  border-radius: 100%;
  font-size: 30px;
  cursor: pointer;
  align-self: center;
  vertical-align: middle;
  height: 44px;
  width: 44px ;
}

.topnav {
  display: flex;
  justify-content: space-between; /* Alinea los elementos hijos a los extremos */
  align-items: center; /* Centra verticalmente los elementos hijos */
  padding: 10px;


}

.header-user {
  display: flex;
  align-items: center;
}

.header-user .button {
  background-color: #B10707;
  color: #fff;
  font-size: 12px;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-left: 10px; 
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: flex-end; 
}

.container button{

  background-color: #B10707;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.send-icon-button:hover {
  background-color: #F40D0C;
  color: white;
}

.send-icon-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}


.chat-message:nth-child(even) {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: white;
  align-self: flex-end;
  width: fit-content;
  margin-right: 8%;
  margin-left: 8%;
  border-radius: 10px;
}

.chat-message:nth-child(odd) {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #8e1111;
  color: white;
  margin-left: 8%;
  margin-right: 8%;
  width: fit-content;
  border-radius: 10px;
  align-self: flex-start;
}

.message{
  white-space: pre-wrap;
  word-wrap: break-word;
}
.message:nth-child(even){
  align-self: flex-end;
  

}
.message:nth-child(odd){
  align-self: flex-end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
