.App {
  text-align: center;
  display: flex;
  background-color: #ecebe7;
  color: #625548;
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
}

.sidemenu{

width: 240px;
border: 1px solid #d3d3d3;
}


.side-menu-button span{
padding-left: 6px;
padding-right: 12px;
}

.side-menu-button{
  padding: 12px;
  border: 1px solid #ecebe7;
  border-radius: 5px;
  text-align: left;
}

.side-menu-button:hover{
  background-color: #ebe5e5ef
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.chat-input-holder{
  padding: 12px;
  position: absolute ;
  bottom: 0;left: 0;right: 0;
  
}

.chat-input-textarea{
background-color: #f5f0f0;
width: 90%;
border: 5px;
border-color: none;
border-radius: 5px;
border: none;
padding: 12px;
outline: none;
box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
color: white;
font: 1,25em;
margin: 12px;

}
.chatbox{
  flex:1;
  position: relative;
  bottom: 0;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chat-log{

  padding: 24px;
  text-align: left;
  display: flex;

}

.chat-message{
  padding: 12px;
  display: flex;
  padding: left 40px right 40px;
}

.mesagge{}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
